---
import "../styles/global.css";
const { className, title } = Astro.props;
const description =
  "Winfarma es un sistema de facturación para farmacias que permite a los usuarios facturar a sus clientes de forma sencilla y eficiente. Disponible en toto el pais.";
const logoB = new URL("../assets/images/imagenB.jpeg", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/svg+xml" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Winfarma es un sistema de facturación para farmacias que permite a los usuarios facturar a sus clientes de forma sencilla y eficiente. Disponible en toto el pais."
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={logoB} />
    <meta name="twitter:image" content={logoB} />
  </head>
  <body class:list={["bg-slate-50 font-onest", className]}>
    <slot />
  </body>
</html>

<style></style>
