---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
const { className, title } = Astro.props;
const description =
  "Winfarma es un sistema de facturación para farmacias que permite a los usuarios facturar a sus clientes de forma sencilla y eficiente. Disponible en toto el pais.";

import Header from "../components/Header.astro";
import logoB from "../assets/images/grupoalfabeta_logo.jpeg";
import background from '../assets/images/stripes.svg';
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/svg+xml" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Winfarma es un sistema de facturación para farmacias que permite a los usuarios facturar a sus clientes de forma sencilla y eficiente. Disponible en toto el pais."
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={logoB.src} />
    <meta name="twitter:image" content={logoB.src} />

	<ClientRouter />
  </head>
  <body class:list={["bg-slate-50 font-onest text-pretty text-slate-900 overflow-x-hidden scroll-smooth", className]}>
	<div class="relative w-full grid place-items-center">
		<img src={background.src} alt="background" class="mx-auto top-0 select-none absolute -z-10" width="720" height="400" />
	</div>
  <div class="px-4 sticky top-4 mt-4 z-50 h-fit">
	<Header />
  </div>
  <main>
    <slot />
  </main>
  <Footer />
  </body>
</html>

<style>
</style>
